# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public/
generate/

projects/*
# FOR GPT
!projects/AGENTS.md
# Minimal template used by add-projects
!projects/0-template/
!projects/0-template/**
# Beginer sample
!projects/1-beginer-sample/
!projects/1-beginer-sample/**
# Advance sample
!projects/2-advance-sample/
!projects/2-advance-sample/**
